In [1]:
import pandas as pd
import os

In [2]:
DIR = './score'
sorted(os.listdir(DIR))

['.DS_Store',
 'lgb_GroupKFold_06200318_score.csv',
 'lgb_KFold_06200302_score.csv']

In [3]:
def score_mean(df):
    df = df.groupby('run_name').mean().round(4).reset_index().sort_values('run_name')
    return df

In [35]:
score1 = pd.read_csv(DIR + '/' + 'lgb_GroupKFold_06200318_score.csv')
score2 = pd.read_csv(DIR + '/' + 'lgb_KFold_06200302_score.csv')
# score3 = pd.read_csv(DIR + '/' + 'lgb_StratifiedKFold_06061146_score.csv')
# score4 = pd.read_csv(DIR + '/' + 'lgb_StratifiedKFold_06061325cat_lgbm_pl45_55_add_score.csv')

In [36]:
score1 = score_mean(score1)
score2 = score_mean(score2)
# score3 = score_mean(score3)
# score4 = score_mean(score4)

In [25]:
score = pd.merge(score1, score2, on='run_name', how='left')
# score = pd.merge(score, score3, on='run_name', how='left')
# score = pd.merge(score, score4, on='run_name', how='left')

In [20]:
score = score.T
score.columns = score.iloc[0]
score = score.drop(score.index[0])

In [21]:
score

run_name,1,10,15,17,19,2,20,22,23,24,...,29,30,44,fold0,fold1,fold2,fold3,fold4,score_all_data,score_fold_mean
lgb_GroupKFold_06200318,0.8753,0.6717,0.8992,0.7797,1.0044,1.0164,1.2524,1.0527,0.7711,0.8473,...,1.3205,4.7398,0.8778,0.8237,1.1167,0.8331,0.9767,0.9409,0.9071,0.9382
lgb_KFold_06200302,0.7456,0.5466,0.8037,0.7378,0.9223,0.9123,0.8328,0.9249,0.7075,0.7297,...,1.0178,1.6635,0.3188,0.7853,0.75,0.7207,0.7508,0.7109,0.744,0.7436

In [293]:
# fold_chip_col = [
#     'score_all_data',
#     'score_fold_mean',
#     'fold0',
#     'fold1',
#     'fold2',
#     'fold3',
#     'fold4'
# ]
# chip_col = [
#     '0b9dbf13f938efd5717f',
#     '118c70535bd753a86615',
#     '79ad4647da6de6425abf',
#     '84b788fdc5e779f8a0df',
#     'c695a1e61e002b34e556'
# ]
# chip_exc_wl_col =[
#     '0b9dbf13f938efd5717f_780',
#      '0b9dbf13f938efd5717f_850',
#      '118c70535bd753a86615_780',
#      '118c70535bd753a86615_850',
#      '6718e7f83c824b1e436d_780',
#      '6718e7f83c824b1e436d_850',
#      '79ad4647da6de6425abf_780',
#      '79ad4647da6de6425abf_850',
#      '84b788fdc5e779f8a0df_850',
#      'c695a1e61e002b34e556_780',
# ]

In [9]:
df = score.T

In [10]:
df

                lgb_GroupKFold_06200318 lgb_KFold_06200302
run_name
1                                0.8753             0.7456
10                               0.6717             0.5466
15                               0.8992             0.8037
17                               0.7797             0.7378
19                               1.0044             0.9223
2                                1.0164             0.9123
20                               1.2524             0.8328
22                               1.0527             0.9249
23                               0.7711             0.7075
24                               0.8473             0.7297
25                               1.3124             1.0336
26                                0.905             0.7587
27                               0.9921             0.8235
28                               1.3029             1.0718
29                               1.3205             1.0178
30                               4.7398             1.6635
44                               0.8778             0.3188
fold0                            0.8237             0.7853
fold1                            1.1167               0.75
fold2                            0.8331             0.7207
fold3                            0.9767             0.7508
fold4                            0.9409             0.7109
score_all_data                   0.9071              0.744
score_fold_mean                  0.9382             0.7436